<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '' %}fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="{% static '' %}css/login_style.css">
</head>
<body>
    <section class="sign-in" style="margin-top:80px;">
        <div class="container">
            <div class="signin-content mt-5">
                <div class="signin-form">
                    <h2 class="form-title">Forget Password</h2>
                    {% if request.GET.m == "s" %}
                    <p>Password reset url has sent to your mail inbox please check immediatly</p>
                    {% else %}
                        {% if request.GET.m == "e" %}
                            <p>Something went wrong please enter you email again</p>
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-email material-icons-email"></i></label>
                                <input type="email" name="email" id="your_name" placeholder="Enter Your Email"/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Reset"/>
                            </div>
                        </form>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </section>
    <script src="{% static '' %}vendor/jquery/jquery.min.js"></script>
    <script src="{% static '' %}js/login_main.js"></script>
</body>
</html>