<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '' %}fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="{% static '' %}css/login_style.css">
</head>
<body>
    <section class="sign-in" style="margin-top:80px;">
        <div class="container">
            <div class="signin-content mt-5">
                <div class="signin-form">
                    <h2 class="form-title">Reset Password</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="new_password" id="your_pass" placeholder="New Password"/>
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="confirm_new_password" id="your_pass" placeholder="Confirm New Password"/>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Change"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static '' %}vendor/jquery/jquery.min.js"></script>
    <script src="{% static '' %}js/login_main.js"></script>
</body>
</html>